{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/139596488_110535210976126_3250836610747312640_o.jpg?_nc_cat=111&ccb=2&_nc_sid=730e14&_nc_ohc=wevqsZ624HgAX8CHX2M&_nc_ht=scontent-hbe1-1.xx&oh=b8ee482503a66c28d7bcc9592ec2945d&oe=60269D39" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Youssef Adel</a></h3>
            <p>Team Leader</p>
            <ul class="follow-us clearfix">
              <li><a href="https://www.facebook.com/yoSsF960"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://github.com/YoussefAdelElsayed"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/in/youssef-adel-90a860186/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-9/95689196_554293885483851_1467901705877192704_o.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_ohc=icgbKsmWFMUAX_YR151&_nc_ht=scontent.fcai19-2.fna&oh=40d6f32478f2f966d598593334cd0d6e&oe=60248029" class="img-responsive" alt=""></figure>
            <h3><a href="#">Ahmed Saber </a></h3>
            <p>Team Member</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-9/106922486_1143328162718739_1876753034449921911_o.jpg?_nc_cat=102&ccb=2&_nc_sid=174925&_nc_ohc=FwPEocPCj34AX_1oywe&_nc_ht=scontent.fcai19-2.fna&oh=ee83302a18b5e8ad37f9e74b6179fb0c&oe=6024A721" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Ahmed Saber </a></h3>
            <p>Team Member</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-9/88316123_2771557542963182_2830414582281928704_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=dqf2sNltAKEAX_Kd7Gm&_nc_ht=scontent.fcai19-2.fna&oh=176a9b26fd21ed1be6291ebbb528400c&oe=60268CEE" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Ahmed Abdelghany </a></h3>
            <p>Team Member</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/139081106_110534527642861_344234133699719228_n.jpg?_nc_cat=110&ccb=2&_nc_sid=730e14&_nc_ohc=6gy_1B9iVLMAX_BsUzm&_nc_ht=scontent-hbe1-1.xx&oh=6973bfd764d90f80fead89593be65d31&oe=60265DCE" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Maryam Nabil</a></h3>
            <p>Team Member</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-9/138641694_110534514309529_802087101785794927_o.jpg?_nc_cat=100&ccb=2&_nc_sid=730e14&_nc_ohc=uDx4IcTLh_EAX9ZU9iB&_nc_ht=scontent.fcai19-2.fna&oh=82422f62a94670375f1a6227f2debacc&oe=6025703A" class="img-responsive" alt=""></figure>
            <h3><a href="#">Shimaa Abou El-hamd</a></h3>
            <p>Team Member</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-9/138641694_110534514309529_802087101785794927_o.jpg?_nc_cat=100&ccb=2&_nc_sid=730e14&_nc_ohc=uDx4IcTLh_EAX9ZU9iB&_nc_ht=scontent.fcai19-2.fna&oh=82422f62a94670375f1a6227f2debacc&oe=6025703A" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Maryam Essam </a></h3>
            <p>Team Member</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
    </ul>
  </div>
</section>
<style>
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

</style>
{% endblock %}