{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<form action='/attend' method="post" enctype='multipart/form-data'>
  <div class="form-group">
        <label>Upload Image</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Browse… <input type="file" id="imgInp" name="file">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <img id='img-upload'/>
    </div>
    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <br>
            <div class="text-center">{{ message }}</div>
        {% endfor %}
    {% endwith %}
{% endblock %}