{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/138554862_110547324308248_5852427489913894460_o.jpg?_nc_cat=109&ccb=2&_nc_sid=730e14&_nc_ohc=3WcUGZRJMcUAX_VL9_E&_nc_ht=scontent-hbe1-1.xx&oh=ad652ebbf3fac1d796cc4598d1eaf5dc&oe=6027442A" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Iris recognition is an automated method of biometric identification that uses mathematical pattern-recognition techniques on video images of one or both of the irises of an individual's eyes, whose complex patterns are unique, stable, and can be seen from some distance.</p>
      </div>
    </div>
<br>
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-0/p600x600/139507390_110542004308780_7548699981343373741_o.jpg?_nc_cat=104&ccb=2&_nc_sid=730e14&_nc_ohc=WScQf1kNNhQAX9Bv7Ks&_nc_ht=scontent.fcai19-2.fna&tp=6&oh=275e3931da7301be15ff3f220ac82d15&oe=602661DD" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Iris  recognition  verification  is one  of  the  most  reliable  personal  identification  methods  in  Biometrics. With  the  rapid  development  of  iris  recognition  verification,  a  number  of  its  applications  have  been proposed  until  now  including  time  attendance  system  etc.  In  this  paper,  a  wireless  iris  recognition attendance management  system is designed and implemented using Daugman’s algorithm (Daugman, 2003). This system based biometrics and wireless technique solves the problem of spurious attendance and  the trouble  of  laying  the  corresponding  network.  It  can  make  the  users’  attendances  more  easily and effectively. </p>
      </div>
    </div>
    <style>
        body {
         background-image: url("https://scontent.fcai19-2.fna.fbcdn.net/v/t1.0-9/138623626_110544817641832_1791170813417816508_o.jpg?_nc_cat=108&ccb=2&_nc_sid=730e14&_nc_ohc=tRsFNgxS-ycAX8MLLLe&_nc_ht=scontent.fcai19-2.fna&oh=583267a493314d730f395dace1933326&oe=6025697B");
         background-repeat: no-repeat;
        background-size: auto;
        }
    </style>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <br>
            <div class="text-center">{{ message }}</div>
        {% endfor %}
    {% endwith %}
{% endblock %}